.so-widget-sow-slider-base-4c1908854525 .sow-slider-base .sow-slider-pagination li a {
  background: #578fbf;
}
.so-widget-sow-slider-base-4c1908854525 .sow-slider-base .sow-slide-nav {
  font-size: 2px;
}
.so-widget-sow-slider-base-4c1908854525 .sow-slider-base .sow-slide-nav a {
  color: #578fbf;
}
